
.top__menu {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #A8A8A8;
    background-color: white;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: #5F7AF2;
    padding: 32px
}

.top__menu__employees {
    color: #5F7AF2
}

.top__menu_programs